.chart__container{
    width: 95%;
    max-width: 1280px;
    display: flex;
    justify-content: space-evenly;
    margin: 3rem auto;
    background-color: #131722;
    border: 1px solid #363c4e;
    border-radius: 2px;
}

.chart__chart{
    width: 50%;
}

.chart__legend{
    width: 50%;
    height: auto;
    margin: auto 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.chart__legend-container{
    width: auto;
    text-align: left;
}

.chart__legend-item{
    margin: 15px 0;
    font-size: 18px;
    display: flex;
}