.header{
    padding: 16px;
    /* background-image: linear-gradient(to top right,#0e1b4d, #364892); */
    background-color: #2296f470;
    font-size: 32px;
    font-weight: 600;
    color: #e9e9e9;
}

.header p{
    margin: 0;
}